<h1>
  <%= @dashboard.name %>
</h1>

<div>
  <%= link_to "Editar", edit_account_dashboard_path(current_account, @dashboard), class: 'btn btn-primary btn-sm' %>
</div>

<p></p>

<div class="kanban">
  <div class="task">
    Tarefas a Fazer
    <div class="column" id="todo">
      <% @to_do_tasks.each do |to_do_task| %>
        <div class="item" draggable="true">
          <div>
            <%= form_for to_do_task, url: edit_account_dashboard_to_do_task_path(current_account, @dashboard, to_do_task), method: :get do |form| %>
              <%= form.submit to_do_task.name, class: 'btn btn-light btn-lg', id: to_do_task.name %>
            <% end %>
          </div>
          <div>
            <%= form_for :session, url: account_dashboard_to_do_task_path(current_account, @dashboard, to_do_task), method: :delete do |form| %>
              <button class = "btn-light btn-sm">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <%= form_for :session, url: new_account_dashboard_to_do_task_path(current_account, @dashboard), method: :get do |form| %>
        <button class = "btn-light btn-sm">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      <% end %>
    </div>
  </div>
  <div class="task">
    Tarefas em Progresso
    <div class="column" id = "progress">
      <% @in_progress_tasks.each do |in_progress_task| %>
        <div class="item" draggable="true">
            <div>
              <%= form_for in_progress_task, url: edit_account_dashboard_in_progress_task_path(current_account, @dashboard, in_progress_task), method: :get do |form| %>
                <%= form.submit in_progress_task.name, class: 'btn btn-light btn-lg', id: in_progress_task.name %>
              <% end %>
            </div>
            <div>
              <%= form_for :session, url: account_dashboard_in_progress_task_path(current_account, @dashboard, in_progress_task), method: :delete do |form| %>
                <button class = "btn-light btn-sm">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
    <div>
      <%= form_for :session, url: new_account_dashboard_in_progress_task_path(current_account, @dashboard), method: :get do |form| %>
        <button class = "btn-light btn-sm">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      <% end %>
    </div>
  </div>
  <div class="task" >
    Tarefas Concluídas
      <div class="column" id="finished">
        <% @finished_tasks.each do |finished_task| %>
          <div class="item" draggable="true">
            <div>
              <%= form_for finished_task, url: edit_account_dashboard_finished_task_path(current_account, @dashboard, finished_task), method: :get do |form| %>
                <%= form.submit finished_task.name, class: 'btn btn-light btn-lg', id: finished_task.name %>
              <% end %>
            </div>
            <div>
              <%= form_for :session, url: account_dashboard_finished_task_path(current_account, @dashboard, finished_task), method: :delete do |form| %>
                <button class = "btn-light btn-sm">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <%= form_for :session, url: new_account_dashboard_finished_task_path(current_account, @dashboard), method: :get do |form| %>
          <button class = "btn-light btn-sm">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        <% end %>
      </div>
  </div>
</div>

<p></p>

<p class="<%= @to_do_tasks.count %>" id="TDT"></p>

<p class="<%= @in_progress_tasks.count %>" id="IPT"></p>

<p class="<%= @finished_tasks.count %>" id="FT"></p>

<canvas id="tasks"></canvas>

<canvas id="finishedTasks"></canvas>

<div id="ld">
  <%= link_to "Lista de Dashboards", account_dashboards_path(current_account), class: 'btn btn-primary btn-sm', id: @dashboard.id %>
</div>

<script>
//-> Atualização da página uma vez para o script ser carregado completamente
<% if session[:refresh] == 1 %>
  window.location.reload();
  <% session[:refresh] = 0 %>
<% end %>
</script>

<script>
// -> Gráfico de linha
window.addEventListener('load', function() {

  var ctx = document.getElementById('finishedTasks').getContext('2d'); // Obtendo o elemento 'canva'

  var labels = []; // Deve ser carregado com as datas existentes no Banco de Dados
  var data = []; // Deve ser carregado com a frequência das datas existentes no Banco de Dados

  const mp = new Map(); // Estrutura 'map' para auxiliar; Data(key) -> Frequência(value)

  <% @finished_tasks.each do |finished_task| %>
    mp.set("<%= finished_task.finishDate %>", 0); // Usando as datas como chave para eliminar repetições e ajustando frequências como 0
  <% end %>

  <% @finished_tasks.each do |finished_task| %>
    mp.set("<%= finished_task.finishDate %>", mp.get("<%= finished_task.finishDate %>")+1); // Cálculo de frequências
  <% end %>

  mp.forEach( function (value, key) {
    labels.push(key); // Preenchimento das 'labels' com datas não repetidas
  });

  labels.sort(); // Ordenação crescente das datas

  labels.forEach(function (item, indice, array) {
    data.push(mp.get(item)); // Preenchimento de 'data' com as frequências de cada data
  });

  var myTimeGraph = new Chart(ctx, { // Gráfico de linha
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        label: 'Tarefas Concluídas',
        data: data,
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }]
    },
    option: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
});

</script>