<div class="form-group">
    <div>
        <%= f.label :nome %>: (Tamanho Máximo: 50 caracteres)
    </div>
    <div>
        <%= f.text_field :name, class: "form-control" %>
    </div>
</div>
        
<div class="form-group">
    <div>
        <%= f.label :email %>: (Tamanho Máximo: 25 caracteres)
    </div>
    <div>
        <%= f.email_field :email, class: "form-control" %>
    </div>
</div>
        
<div class="form-group">
    <div>
        <%= f.label :senha %>: (Tamanho Mínimo: 07 caracteres)
    </div>
    <div>
        <%= f.password_field :password, class: "form-control" %>
    </div>
</div>

<div class="form-group">
    <div>
        <%= f.label :confirmação_de_Senha %>: (Repita a senha)
    </div>
    <div>
        <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>    
</div>